.container {
  background: rgb(232, 220, 220);
  margin: 25px;
  padding: 30px;
}

.card {
  padding: 10px 20px;
  border: black solid 1px;
  background: blue;
  color: white;
  margin-right: 20px;
}
.quiz-info {
  margin: 20 auto;
  border: red solid 2px;
  padding: 20px;
  color: white;
  background: black;
}

.card-row {
  display: flex;
  flex-wrap: wrap;
}

.correct-answer {
  padding: 10px 20px;
  border: black solid 1px;
  background: rgb(5, 205, 71);
  color: rgb(3, 0, 0);
  margin-right: 20px;
}

/* Media query for mobile screens */
@media screen and (max-width: 768px) {
  .container {
    margin: 10px;
    padding: 15px;
  }

  .card,
  .correct-answer {
    width: calc(50% - 20px); /* Display two cards per row */
    margin-right: 0;
    margin-bottom: 10px;
  }
}
